form {
  .form-label {
    font-size: $font-size-base;
    margin-bottom: 0;
  }

  .form-control {
    border-color: transparent;
    border-radius: 0;
    border: 0;

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  .l-line-left, .l-line-right {
    z-index: 3;
    pointer-events: none;
    top: 0;
  }

  .l-line-left {
    left: unset;
    right: calc(100% - 8px);
    width: 40px;
    transition: width .2s ease-in-out;
  }

  .l-line-right {
    right: 0;
    left: 0;
    width: 40px;
  }

  .input-group {
    margin-bottom: $spacer * 2;

    .form-label {
      margin-left: $spacer * 3;
    }

    .input-group-text {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      color: $secondary;
      align-items: flex-start;

      i {
        line-height: 24px;
      }
    }

    .input-group-content {
      opacity: 0;
      flex: 1;
    }

    .l-line-left {
      left: unset;
      right: calc(100% - 45px);
      width: 40px;
      transition: width .2s ease-in-out;
    }

    .l-line-right {
      right: 0;
      left: 38px;
      width: 40px;
    }

    &.focus {
      .l-line-left {
        width: calc(100% - 38px) !important;
      }
    }
  }
}
